.firepicker_color_container {
  position: absolute;
  background-color: #fff;
  margin-top: -1px;
  padding-top: 1px;
  padding-right: 1px;
  border: 1px solid #989898;
  -moz-box-shadow: 2px 4px 6px #828282;
  pointer-events: auto;
}

.firepicker_color_container .color_value {
  padding-right: 5em;
  margin-bottom: 1px;
  cursor: pointer;
}

.firepicker_color_container .color_value .css_text  {
  background-color: #FFF;
  padding: 0.1em 0.5em;
  white-space: nowrap;
}

.firepicker_color_container .color_value:hover .css_text  {
  background-color: #E7FFFF;
}